body {
  margin: 0;
  font-family: 'Press Start 2P', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.addExperienceForm {
  margin: auto;
  width: 60%;
}

.submitbtn {
  border: 0px;
  background-color: transparent;
}

.table {
  width: 75%;
  margin: auto;
  margin-top: 4rem;
}

#suggestForm {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#suggestForm label {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#project-row {
  margin: 2rem 0px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.projectDesc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.votes {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  text-align: center;
}

.display {
  /* margin: 5rem; */
}

#projectTitle {
  font-size: 1.3rem;
}

#logo {
  width: 10rem;
  margin-bottom: 2rem;
}

#tower {
  height: auto;
}