body {
  margin: 0;
  font-family: 'Press Start 2P', sans-serif;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.addExperienceForm {
  margin: auto;
  width: 60%;
}

.submitbtn {
  border: 0px;
  background-color: transparent;
}